target/classes/muledbpolling.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:objectstore="http://www.mulesoft.org/schema/mule/objectstore" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/objectstore http://www.mulesoft.org/schema/mule/objectstore/current/mule-objectstore.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">

    <db:generic-config name="Generic_Database_Configuration" url="jdbc:sqlserver://127.0.0.1;user=sa;password=Angel1982#tkf;" driverClassName="com.microsoft.sqlserver.jdbc.SQLServerDriver" doc:name="Generic Database Configuration"/>
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    
    <objectstore:config name="ObjectStore__Configuration" doc:name="ObjectStore: Configuration" objectStore-ref="_defaultUserObjectStore" persistent="true" entryTtl="0" expirationInterval="0" maxEntries="0"/>
    <http:request-config name="HTTP_Request_Configuration" host="localhost" port="8081" doc:name="HTTP Request Configuration"/>
    
    <flow name="muledbpollingFlow" processingStrategy="synchronous">
        <poll doc:name="Poll">
            <fixed-frequency-scheduler frequency="5000"/>
            <watermark variable="lastRecordID" default-expression="1" selector="MAX" selector-expression="#[payload['no']]" object-store-ref="_defaultUserObjectStore"/>
            <db:select config-ref="Generic_Database_Configuration" streaming="true" maxRows="2" fetchSize="2" doc:name="SQLServer">
                <db:parameterized-query><![CDATA[select * from muledemodb.dbo.employees where no > #[flowVars['lastRecordID']] order by no asc]]></db:parameterized-query>
            </db:select>
        </poll>
        <set-variable variableName="previousRecordID" value="0" doc:name="Initialize previousRecordID"/>
        <foreach doc:name="For Each">
            <set-variable variableName="currentRecord" value="#[payload['no']]" doc:name="currentRecord"/>
            <scripting:component doc:name="RandDividend">
                <scripting:script engine="Groovy"><![CDATA[flowVars.dividend = Math.abs(new Random().nextInt() % 3 - 1);
flowVars.divisor = Math.abs(new Random().nextInt() % 3 - 1);
System.out.println("Curent Record ID:" + flowVars['currentRecord']);
System.out.println("Payload: " + payload );
System.out.println("Executing " + flowVars.dividend + " / " + flowVars.divisor );
def ans = flowVars.dividend / flowVars.divisor ;]]></scripting:script>
            </scripting:component>
            <set-variable variableName="previousRecordID" value="#[flowVars['currentRecord']]" doc:name="previousRecordID"/>
        </foreach>
        <catch-exception-strategy doc:name="Catch Exception Strategy" enableNotifications="false" logException="false">
            <http:request config-ref="HTTP_Request_Configuration" path="/pollReset" method="POST" doc:name="HTTP">
                <http:request-builder>
                    <http:query-param paramName="lastEmployeeID" value="#[flowVars['previousRecordID']]"/>
                </http:request-builder>
            </http:request>

            <scripting:component doc:name="Exception Stack Trace Print Out">
                <scripting:script engine="Groovy"><![CDATA[System.out.println("Exception Encoutered ...");
System.out.println("Resetting Back to Last Successful Record ID:" + flowVars['lastRecordID']);
]]></scripting:script>
            </scripting:component>
        </catch-exception-strategy>
    </flow>
    <flow name="resetObjectStore">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/pollReset" doc:name="HTTP"/>
        <objectstore:retrieve-and-store  config-ref="ObjectStore__Configuration" doc:name="ObjectStore" defaultValue-ref="#[0]" key="lastRecordID" storeValue-ref="#[message.inboundProperties.'http.query.params'.lastEmployeeID]"/>
        <logger message="Reset WaterMark to : #[message.inboundProperties.'http.query.params'.lastEmployeeID]" level="INFO" doc:name="Logger"/>
        <object-to-string-transformer doc:name="Object to String"/>
    </flow>
</mule>
